<!DOCTYPE html>

    <head>
        <title>Download</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">

    </head>

    <body>

        <header class="header">
            <h1>Emotional IDE</h1>

            <nav class="nav">
              <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
              </ul>
            </nav>

        </header>


        <div class="wrapper">

            <div style="margin-top: 200px;">

                <h1 style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px;">Downloads</h1>
                <p>{{ output }}</p>
                <p class="download"> Go to: </p>
                <p class="download"> http://127.0.0.1:5000/download/get/name of file </name> </p> <!-- name tag -->
                <p class="download"> To recieve it</p>
                <p>{{ output }}</p> <!-- vet inte vad den gör -->
                    

            </div>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


        </div>
        
        
        
        
                
    </body>
</html>

