<!DOCTYPE html>

    <head>
        <title>Download - Emotional IDE</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">
        <meta charset=“UTF-8”>
    </head>

    <body>

        <header class="header">
            <h1>Emotional IDE</h1>

            <nav class="nav">
              <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
              </ul>
            </nav>

        </header>


        <div class="wrapper">

          


            <h1 class="table-title" style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px; font-family: Ubuntu, sans-serif;">Downloads</h1>


            <article>
                <table class="table-fill">
                    <thead>
                        <tr>
                        <th class="text-left">File</th>
                        <!-- <th class="text-left">Time</th> -->
                        <th class="text-left">Size</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                

                    

                        {% for filename, mtime, size in files -%}
                        <tr>
                        <td class="text-left"><a class="text-left" href="{{ url_for('download', filename=filename) }}" download>{{ filename }}</a></td>
                        <!-- <td class="text-left">{{ moment(mtime, local=False).format('DD.MM.YYYY HH:mm') }}</td> -->
                        <td class="text-left" style="text-align:left;">{{ size | byte_units }}</td>
                        </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            </article>
                


<!-- 
            <table class="tablestyle">
                {% for filename, mtime, size in files -%}
                <tr>
                  <td style=" z-index: 22; pointer-events: auto;"><a style=" z-index: 22; pointer-events: auto;" href="{{ url_for('download', filename=filename) }}" download>{{ filename }}</a></td>
                  <td>{{ moment(mtime, local=False).format('DD.MM.YYYY HH:mm') }}</td>
                  <td style="text-align:right;">{{ size | byte_units }}</td>
                </tr>
                {% endfor -%}
            </table>
 -->

            <script type="text/javascript">
                (() => {
                  const elems = document.querySelectorAll('a[href][download]');
                  elems.forEach(elem => {
                    elem.addEventListener('click', evt => {
                      const isDonwload = window.confirm('Would you like to download this file?');
                      if (!isDonwload) { evt.preventDefault(); }
                    });
                  });
                })();
            </script>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


        </div>
        
        
        
        
                
    </body>
</html>

