<!DOCTYPE html>

    <head>
        <title>Emotional</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">
        <meta charset=“UTF-8”>  
      
    </head>

    <body>


        <header class="header">
            <h1>Emotional IDE</h1>
            <nav class="nav">
              <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
              </ul>
            </nav>

        </header>

        <div class="wrapper">
            
            <h1 style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px;">Home</h1>

           
            <!-- <form style="margin-top: 50px;">   -->
            <input type="button" onclick="stuff()" value="Start" name="file" class="start"/> 
            <button type="file" name="file" class="start">hej</button>

                                                                    <!-- onclick="startDataCollection()" -->
            <!-- </form>              -->


            <script>
                function stuff(){

                    console.log("hej");

                }

            </script>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>

        </div>    

    

    </body>
</html>