<!DOCTYPE html>

    <head>
        <title>Emotional IDE</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">
        <meta charset=“UTF-8”>  

        {{ moment.include_moment() }}

        

    </head>

    <body>


        <header class="header">
            <h1>Emotional IDE</h1>
            <nav class="nav">
              <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
              </ul>
            </nav>

        </header>

        <div class="wrapper">
            
            <h1 style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px; font-family: Ubuntu, sans-serif;">Home</h1>

           
            <!-- <form style="margin-top: 50px;">   -->
            <input style="background: #02499b;" type="button" onclick="test()"  value="Start" id = "start" class="start"/> 

            <input style="background: #02499b;" type="button"  value="Stop" onclick="red()" id = "stop" class="start"/> 


            <script>

                    let arrstart = ['Saab'];
                    let arrstop = ['Saab'];


                    function test(){
                        let elemstart = document.getElementById('start');
                        let elemstop = document.getElementById('stop');

                        let elemcolorstop = document.getElementById('stop').style.backgroundColor;
                        let elemcolorstart = document.getElementById('start').style.backgroundColor;
                        console.log(elemcolorstart);
                        console.log(elemcolorstop);


                        if (arrstop[arrstop.length-1] == "rgb(238, 4, 11)" && elemcolorstart == "rgb(2, 73, 155)") {    //red
                            console.log("5555");
                            elemstop.style.background = 'rgb(2, 73, 155)'; //blue
                            elemstart.style.background = 'rgb(68, 227, 2)'; //green

                        }
                        if (elemcolorstart === "rgb(2, 73, 155)") { //blue
                            console.log("1111");
                            elemstart.style.background = 'rgb(68, 227, 2)'; //green
                            arrstart.push("rgb(68, 227, 2)");
                        }
                        else if (elemcolorstart === "rgb(68, 227, 2)") {    //green
                            console.log("3333");
                            
                            elemstart.style.background = 'rgb(68, 227, 2)';     //green
                            arrstart.push("rgb(68, 227, 2)");

                        }
                       
                        
                    }

                    function red() {
                        let elemstop = document.getElementById('stop');
                        let elemstart = document.getElementById('start');

                        let elemcolorstop = document.getElementById('stop').style.backgroundColor;

                        if (arrstart[arrstart.length-1] == "rgb(68, 227, 2)" && elemcolorstop == "rgb(2, 73, 155)") {     //green
                            console.log("5555");
                            elemstop.style.background = 'rgb(238, 4, 11)'; //red
                            elemstart.style.background = 'rgb(2, 73, 155)'; //blue

                        }
                        if (elemcolorstop == "rgb(2, 73, 155)") {  //blue
                            console.log("2222");
                            elemstop.style.background = 'rgb(238, 4, 11)';  //red
                            arrstop.push("rgb(238, 4, 11)");

                        }   
                        else if (arrstop[arrstop.length-1] === "rgb(238, 4, 11)") {         //red
                            console.log("4444");
                            elemstop.style.background = 'rgb(238, 4, 11)';      //blue
                            arrstop.push("rgb(238, 4, 11)");

                        }
                       
                    }

                
                    
            </script>
           

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>

        </div>    

    

    </body>
</html>