<!DOCTYPE html>

    <head>
        <title>Simulation</title>
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">

    </head>

    <body>

        
        <header class="header">
            <h1>Emotional IDE</h1>
            <nav class="nav">
            <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>

                <body>
                    
                    {% include "turbo_template.html" %}
                    {% block content %}{% endblock %}
                </body>

            </ul>
            </nav>
            {{ turbo() }}
        </header>




        <div class="wrapper">
        
            <article class="simuldiv">


                
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <!-- </article> -->
        </div>
           


    </body>

<p>hej</p>
    
</html>





