<!DOCTYPE html>

    <head>
        <title>Simulation</title>
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">

    </head>

    <body>

        
        <header class="header">
            <h1>Emotional IDE</h1>
            <nav class="nav">
            <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
            </ul>
            </nav>

        </header>




        <div class="wrapper">
        
            <h1 style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px;">Simulation</h1>

            <!-- <article class="simuldiv"> -->
                
            <img style="margin-top: 0px; margin-left: 20px;" src="{{url_for('static', filename='eyy.png')}}" />

            <script>
            
                function timedRefresh(timeoutPeriod) {
                    setTimeout("location.reload(true);",timeoutPeriod);
                }
                
                // window.onload = timedRefresh(10000); //refresh rate ta bort eller öka
                
                //   -->
            </script>

            <div class="livediv">
            {{ turbo() }}
            {% include "turbo_template.html" %}
            {% block content %}{% endblock %}
            {{ turbo() }}
            </div>


            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <!-- </article> -->
        </div>
           


    </body>
    
</html>





