<!DOCTYPE html>

    <head>
        <title>Simulation</title>
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png') }}">
        <meta charset=“UTF-8”>


        <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>   -->
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
        <!-- experiment -->
        <!-- <py-env>
    - numpy
    - matplotlib
    - pandas -->
            <!-- - paths:
                - /data.py -->
                <!-- - C:\Users\jonat\OneDrive\Documents\BTH\År 2\Systemteknik\testflasken\EmotionalFlask\templates\data.py -->
        <!-- </py-env> -->

        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
    </head>

    <body>

        
        <header class="header" style="height: 200px;">
            <h1 style="margin-top: 80px;">Emotional IDE</h1>
            <nav class="nav">
            <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>

                <body>
                    
                    <!-- {% include "turbo_template.html" %}
                    {% block content %}{% endblock %} -->
                </body>
    

            </ul>

            </nav>
            <p id="emoji" class="emojis"></p>    <!--emoji, make function to chnage depending on emotion -->

        </header>




        <div class="wrapper">
        
            <article>
                <h1 style="margin-top: 220px; color: white; margin-left: 20px; font-size: 40px;">Simulation</h1>
                <div id="load" class="load">
                    <table>

                      <tr>EEG</tr>

 

                      <tr><th>Emotion:</th>
                        <td>{{ load_emotion }}</td>
                        <!-- <td id="currentemotion">{{ test_emoztion }}</td> -->
                        

                    </tr>
                    </table>
                    {{ turbo() }}

                </div> -->
            <!-- </article>     -->


<!-- 
            <form>
                <button type='button' id="update">Update</button>
            </form>
            <span style="z-index: 20;" id="canvas"></span> -->




            <div class="chart" style="height: 10%; width: 70%">
                <canvas id="myChart"></canvas>
            </div>


            <!-- <p style="display: none;">
                <button id="randomizeData">Randomize Data</button>
                <button id="addDataset">Add Dataset</button>
                <button id="removeDataset">Remove Dataset</button>
                <button id="addData">Add Data</button>
            </p> -->

            <h1 style="margin-top: 600px; color: white; margin-left: 20px; font-size: 40px; font-family: Ubuntu, sans-serif;">Heatmap</h1>


            <img id="heat" class="heat" src="{{ url_for('static', filename='heatmap.png') }}"/>

            <script type="text/javascript">

            
            setInterval(function () {
                document.getElementById("heat").src="{{ url_for('static', filename='heatmap.png') }}";
                            console.log("funkar");

            
            } , 5000);  
            </script>


            <script type="text/javascript">


          
            var chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(75, 192, 192)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(201, 203, 207)'
            };

            function randomScalingFactor() {
                return (Math.random() > 0.5 ? 2.0 : 1.0) * Math.round(Math.random() * 100);
            }

            function onRefresh(chart) {
                chart.config.data.datasets.forEach(function(dataset) {
                    dataset.data.push({
                        x: Date.now(),
                        y: randomScalingFactor()
                    });
                });
            }

            var color = Chart.helpers.color;
            var config = {
                type: 'line',
                data: {
                    datasets: [
                    //     {
                    //     label: 'Dataset 1 (linear interpolation)',
                    //     backgroundColor: chartColors.red,
                    //     borderColor: chartColors.red,
                    //     fill: false,
                    //     lineTension: 0,
                    //     borderDash: [8, 4],
                    //     data: []
                    // }
                    {
                        label: 'HR (E4)',
                        backgroundColor: chartColors.blue,
                        borderColor: chartColors.blue,
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        data: [],
                        fontSize: 18
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Live data',
                        fontColor: "white",
                        fontSize: 18
                    },
                    scales: {
                        xAxes: [{
                            type: 'realtime',
                            fontColor: "white",
                            fontSize: 18,
                            realtime: {
                                duration: 20000,
                                refresh: 1000,
                                delay: 2000,
                                onRefresh: onRefresh
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Heartrate',
                                fontColor: "white",
                                fontSize: 18


                            }
                        }]
                    },
                    tooltips: {
                        mode: 'nearest',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: false
                    },
                    plugins: {
                        datalabels: {
                            backgroundColor: function(context) {
                                return context.dataset.backgroundColor;
                            },
                            borderRadius: 4,
                            clip: true,
                            color: 'white',
                            font: {
                                weight: 'bold'
                            },
                            formatter: function(value) {
                                return value.y;
                            }
                        }
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('myChart').getContext('2d');
                window.myChart = new Chart(ctx, config);
            };

            document.getElementById('randomizeData').addEventListener('click', function() {
                config.data.datasets.forEach(function(dataset) {
                    dataset.data.forEach(function(dataObj) {
                        dataObj.y = randomScalingFactor();
                    });
                });

                window.myChart.update();
            });

            var colorNames = Object.keys(chartColors);
            document.getElementById('addDataset').addEventListener('click', function() {
                var colorName = colorNames[config.data.datasets.length % colorNames.length];
                var newColor = chartColors[colorName];
                var newDataset = {
                    label: 'Dataset ' + (config.data.datasets.length + 1),
                    backgroundColor: newColor,
                    borderColor: newColor,
                    fill: false,
                    lineTension: 0,
                    data: []
                };

                config.data.datasets.push(newDataset);
                window.myChart.update();
            });

            document.getElementById('removeDataset').addEventListener('click', function() {
                config.data.datasets.pop();
                window.myChart.update();
            });

            document.getElementById('addData').addEventListener('click', function() {
                onRefresh(window.myChart);
                window.myChart.update();
            });







            </script>


            <!-- <div id="plot" ></div> -->
            <!-- <py-script output="plot">

            import pandas as pd
            import matplotlib.pyplot as plt
            x = np.random.randn(10)
            y = np.random.randn(10)
            fig, ax = plt.subplots()
            ax.plot(x, y)
            fig

           

            </py-script> -->
    

         

            <article>
                
                <tr>E4</tr>
                <img style="margin: top -200px;" src="{{ url_for('static', filename='static_e4.jpg')}}">
                

            </article>    


            <script  type = "text/javascript">
                
                let emotion = "";

                setInterval(function () {
                emotion = document.getElementById("currentemotion").innerHTML;
                console.log(emotion)
            
            } , 1000); 
                

                // {% set emotion = 'sad' %}
                
                switch(emotion)
                {
                    case "happy":
                        text = "&#x1F603;";
                        break;

                    case "sad":
                        text = "&#x1F62D;";
                        break;
                    
                    case "stressed":
                        text = "&#x1F632;";
                        break;

                    case "angry":
                        text = "&#x1F608;";
                        break;

                    default:
                        text = "";

                }

                setInterval(function () {
                document.getElementById("emoji").innerHTML = text;} , 1000);                      //updateras varje sekund

                //document.getElementById("emoji").innerHTML = text;


                // function checksign(emotion) {

                // }


                //     if (emotion = "happy")
                //     {
                //         // elem.innerHTML.replace = "&#x1F600;";
                //         console.log("1");
                //         return "&#x1F600;";
                //     }
                //     else if (emotion = "sad") {
                //         // elem.innerHTML.replace = "&#x1F62A;";
                //         console.log("2");

                //         return "&#x1F62A;";
                //     }
                //     else if (emotion = "stressed") {
                //         // elem.innerHTML.replace = "&#x1F632;";
                //         console.log("3");

                //         return "&#x1F632;";
                //     }
                //     else if (emotion = "angry") {
                //         // elem.innerHTML = '<p id="emoji" style="font-size: 8em;">&#x1F621;</p>';
                //         console.log("4");

                //         return "&#x1F621;";
                //     }
                // }

                // let element = document.querySelector('#emoji');

                

                // replacement = checksign(newEmotion);
                // console.log(replacement);
                // replacement = "&#x1F621;";
                // console.log(replacement);
                // element.innerHTML = replacement;

            

                //     newEmotion = 'stressed';
                //     let replacement = checksign(newEmotion);
                //     replacement = "&#x1F632;";
                //     console.log(replacement);

                //     let element = document.getElementById('emoji');
                // //    element.innerHTML = '<h2>Section replaced dynamically!!</h2>';
                //     // element.innerHTML = '<p>'replacement'</p>';
                //     element.appendChild(replacement);

                        // få newEmotion med python på ett smidigt sätt här kanske turbo flask
                    // let elem = document.getElementById('emoji');

                    // newEmotion = "angry";
                    // console.log(newEmotion);

                

                
                
                // elem.innerHTML = checksign(newEmotion)
                // console.log(elem.innerHTML);
            
            </script>

            


            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div>
           


    </body>

    
</html>





