<!DOCTYPE html>

    <head>
        <title>Upload</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>

     


          
        <header class="header">
            <h1>Emotional IDE</h1>
            <nav class="nav">
            <ul>
                <li>
                    <p><a href ="http://127.0.0.1:5000/simulation">Simulation </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/download">Downloads </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000/upload">Upload </a></p>
                </li>
                <li>
                    <p><a href ="http://127.0.0.1:5000">Home </a></p>
                </li>
                
            </ul>
            </nav>

        </header>

        <div class="wrapper">
        

            <form style="margin-top: 200px;" action = "/upload" method = "post" enctype="multipart/form-data">  
                <input style="z-index: 10000;" type="file" name="file" />  
                <input style="z-index: 10000;" type = "submit" value="Upload">  
            </form>  
            <!-- input bilden från input här -->
    

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                </ul>


        </div>


    </body>
</html>

